# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local env files
*.local
.env
.env.*

# Editor/system files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

AssignmentOne
practice
practiceTwo
tailwind
practice3
12_reactform


practice4
practiceAndDelete

javascript_templete_literals.pdf


